<div class="col-sm-12">
  <h4>Name</h4>
</div>
<div class="col-sm-12">
  <input required type="text" id="username" name="username" class="col-sm-12 form-control" />
</div>
<br>
<div class="col-sm-12">
  <h4>Email</h4>
</div>
<div class="col-sm-12">
  <input required type="text" id="email" name="email" class="col-sm-12 form-control" />
</div>
<br>
<div class="col-sm-12">
  <h4>Password</h4>
</div>
<div class="col-sm-12">
  <input required type="password" id="password" name="password" class="col-sm-12 form-control" />
</div>
<br>
<div class="col-sm-12">
  <h4>Confirmation</h4>
</div>
<div class="col-sm-12">
  <input required type="password" id="confirm" name="confirm" class="col-sm-12 form-control" />
  <br>