<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <%- include('header') %>
  </head>

  <body>
    <div class="border-bottom">
      <div class="container col-sm-6">
        <h1 style="text-align:center">
          <%= title %>
        </h1>
        <form method="POST" action="/accounts/edit">
          <div class="col-sm-12">
            <h4>Name</h4>
          </div>
          <div class="col-sm-12">
            <input required type="text" id="username" name="username" class="col-sm-12 form-control" />
          </div>
          <br>
          <div class="col-sm-12">
            <h4>Email</h4>
          </div>
          <div class="col-sm-12">
            <input required type="text" id="email" name="email" class="col-sm-12 form-control" />
          </div>
          <br>
          <div class="col-sm-12">
            <h4>Password</h4>
          </div>
          <div class="col-sm-12">
            <input required type="password" id="password" name="password" class="col-sm-12 form-control" />
          </div>
          <br>
          <div class="col-sm-12">
            <h4>Confirmation</h4>
          </div>
          <div class="col-sm-12">
            <input required type="password" id="confirm" name="confirm" class="col-sm-12 form-control" />
            <br>
            <input type="submit" class="btn btn-primary col-sm-12 mb-5" value="Save changes" />
          </div>
        </form>
      </div>
    </div>
    <% if (message && message.length !==0) { %>
      <% for(let i of message) { %>
        <div class="alert alert-danger">
          <%= i %>
        </div>
        <% } %>
          <% } %>
            <%- include('partials/bootstrap.ejs'); %>
  </body>

</html>