<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
      integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <nav class="navbar navbar-expand-md navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="container col-md-7">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link text-white" href="/">MicroPost</a></li>
          </ul>
        </div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="/accounts/signin"><i class="fas fa-sign-in-alt"> Sign in</i></a></li>
        </ul>
      </div>
    </nav>

  </head>

  <body>
    <%- include('partials/bootstrap.ejs'); %>
  </body>

</html>